:root{
  --back_x: #b8b7b8;
  --back_y: #eef2f3;
}

.App{
  background-image: linear-gradient(-90deg,var(--back_x), var(--back_y));
  min-height: 100vh;
}
.nav-bar{
  min-height: 8vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}
.nav-links{
  font-size: 1.2em;
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex: 0.4;
}
ul{
  margin:0px;
  padding: 0px;
}
a,
a:active,
a:hover,
a:visited{
  text-decoration: none;
  color: black;
}
.nav-links a:hover{
  color: #996193
}
.nav-links a{
  font-weight: 600;
  text-shadow: #d8d8d8 1px 1px 0;;
}
.Bigger{
  font-size: 1.5em;
}
.Home-Search{
  width: fit-content;
  margin: 5px auto;
}
.Autocomplete-Options{
  border: none;
}
.Search-Button{
  background-color: transparent;
  color: #b86bb0;
  border: 1px solid #b86bb0;
  font-weight: 600;
  letter-spacing: 1px;
}
.Search-Button:hover{
  background-color: rgba(255, 255, 255, 0.397);
}
.Search-Button:focus, .Home-Search input:focus, .Favorite-Button:focus{
  outline: none;
}
.Home-Search input{
  border: 1px solid #b86bb0;
  width: 17em;
  height: 1.9em;
}
.Home-Search input::placeholder{
  opacity: 0.4;
  color: #b86bb0;
}
.Home-Search .Search-Button, input{
  margin:5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1em;
}
.Autocomplete-Options{
  width: 99%;
  padding: 2px;
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
  text-align: left;
  margin: -1px;
}
.Autocomplete-Options h1,h2,h3,h4,h5,h6{
  display: inline;
}
.Autocomplete-Options:hover{
  background-color: #e0c9de;
}
.Autocomplete-Box{
  z-index: 1;
  width: 26em;
  position: absolute;
  padding: 2px;
  background-color: whitesmoke;
  text-align: left;
  margin-left: 8px;
}
.Home-Page{
  padding: 7px 0px;
}
.Home-Result{
  width: 90%;
  margin: auto;
  background-color: rgba(236, 236, 247, 0.753);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.Top{
  display: flex;
  justify-content: space-between;
}
.Center{
  text-align: center;
}
.Center h1{
  margin: 0px 0px 20px 0px;
}
.Bottom, .Top{
  padding: 5px;
}
.Bottom-Title{
  margin-left: 10px;
}
.Daily{
  width: 99%; 
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px;
  margin: 2px 0px;
}
.Forecast-Header .space-between{
  display: block;
}
.space-evenly{
  display: flex;
  justify-content: space-evenly;
}

.indent{
  margin-left: 7px;
}

.weather-icon{
  width: 50px;
  height: 50;
}

.icon-button{
  border: none;
  border-radius: 50%;
  padding: 0px;
  margin-left: 5px;
  background: rgba(233, 242, 250, 0.288);
}

.icon-button:focus{
  outline: none;
}

.icon-button:hover{
  background: rgba(213, 228, 245, 0.37);
}

.cursor{
  cursor: pointer;
}

.Bottom-Days{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Favorite-Button{
  padding: 10px;
  background-color: #b86bb049;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.3em;
}
.Favorite-Button:hover{
  background-color: #b486b07e;
}
.Favorite-Toggle, .Favorite-Title{
  margin: 10px 10px 0px 10px;
} 
.Favorite-Title p{
  margin: 10px 0px;
}
.Favorite-Page, .Empty-Title{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.weather-knobs, .weather-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-toggle{
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 120px;
  height: 36px;
  overflow: hidden;
  border-radius: 2px;
}

.weather-checkbox{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.weather-knobs{
  z-index: 2;
}

.weather-layer{
  width: 100%;
  background-color: rgba(168, 168, 168, 0.267);
  transition: 0.3s ease all;
  z-index: 1;
}

.button-toggle .weather-knobs:before{
  content: 'Day';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 50px;
  height: 10px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #8fdafdbb;
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.button-toggle .weather-checkbox:active + .weather-knobs:before{
  width: 60px;
}

.button-toggle .weather-checkbox:checked:active + .weather-knobs:before{
  margin-left: -26px;
}

.button-toggle .weather-checkbox:checked + .weather-knobs:before{
  content: 'Night';
  left: 56px;
  background-color: #044997a1;
}

.button-toggle .weather-checkbox:checked {
  background-color: rgba(255, 255, 255, 0.281);
}

.knobs, .layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button{
  position: relative;
  width: 145px;
  height: 36px;
  overflow: hidden;
  border-radius: 2px;
}

.checkbox{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs{
  z-index: 2;
}

.layer{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.281);
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs:before{
  content: 'Celsius';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 73px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #e99be1bb;
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.button .checkbox:active + .knobs:before{
  width: 46px;
}

.button .checkbox:checked:active + .knobs:before{
  margin-left: -26px;
}

.button .checkbox:checked + .knobs:before{
  content: 'Fahrenheit';
  left: 60px;
  background-color: #c97fc181;
}

.button .checkbox:checked {
  background-color: rgba(255, 255, 255, 0.281);
}

@media only screen and (max-width:1200px){
  .Bigger{
    font-size: 1.1em;
  }
}

@media only screen and (max-width:1200px){
  .nav-links{
    flex: 0.5;
  }
  .Bottom-Days{
    width: 99%;
  }
}

@media only screen and (max-width:900px){
  .App{
    height: auto;
  }
  .Home-Search input{
    width: 19em
  }
  .nav-links{
    flex: 0.6;
  }
  .Bottom-Days{
    width: 98%;
  }
}

@media only screen and (max-width:800px){
  .nav-links{
    flex: 0.7;
  }
  .Home-Search input{
    width: 60%
  }
  .Bottom-Days{
    width: 98%;
  }
  .Empty-Title{
    font-size: 1.2em;
  }
  .Autocomplete-Box{
    width: 315px;
  }
}

@media only screen and (max-width:700px){
  .nav-links{
    flex: 0.8;
  }
}

@media only screen and (max-width:650px){
  .nav-links{
    flex: 0.9;
  }
}

@media only screen and (max-width:600px){
  .nav-bar{
    flex-direction: column;
  }
  .nav-links{
    flex-direction: column;
  }
  .Top{
    flex-direction: column;
  }
  .Center h1{
    font-size: 1.5em;
  }
  .Bottom-Days{
    width: 97%;
  }
  .Forecast-Header .space-between{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width:450px){
  .nav-title{
    font-size: 2.2em;
    margin: 0px;
  }
  .Bottom-Days{
    width: 95%;
  }
  .Favorite-Page{
    flex-direction: column;
  }
  .Favorite-Page a .Daily{
    width: 95%;
  }
  .Favorite-Page a .Daily p{
    text-align: center;
  }
  .Center h1{
    font-size: 1.4em;
  }
  .Forecast-Content .Center .Bigger{
    display: block;
  }
  .Forecast-Header p{
    text-align: center;
    font-size: 14px;
  }
  .indent{
    margin-left: 0px;
  }
  .button-toggle{
    width: 100px;
  }
  .button-toggle .weather-knobs:before{
    width: 40px;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .button-toggle .weather-checkbox:active + .weather-knobs:before{
    width: 40px;
  }  
  .button-toggle .weather-checkbox:checked + .weather-knobs:before{
    left: 47px;
  }
}

@media only screen and (max-width:350px){
  .Home-Search{
    width: 90%;
    margin: auto;
  }
  .Home-Search input{
    width: 50%
  }
  .Autocomplete-Box{
    margin-top: -2px;
    width: 260px;
  }
  .Favorite-Title h1{
    margin: 2px 0px;
  }
  .Favorite-Button{
    font-size: 1em;
  }
  .Center h1{
    font-size: 1.3em;
  }
  .Forecast-Header .Bigger{
    font-size: 1em;
  }
}